.container-fluid{
    margin-top: 20px;
    
    background-color: white;
}

.container-fluid > a > img{
    /**width: 37%;**/
    width: 270px;
    border-radius: 10px;
}

.container{
    margin-top: 0px;
    margin-bottom: 10px;
}

.card{
    margin-top: 10px;
}

.navbar{
    background-color: pink;
}

aside {
    margin-top:  100px;
    margin-left: 30px;
    padding-top: 30px;
    /*background-image: url("img/aside.png");*/
    width: 83%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(240, 226, 107);
}

aside > nav > ul > li{
    list-style-type: none;
    margin-top: 30px;
    margin-left: -25px;
}

aside > nav > ul > li > button{
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
}

aside > nav > ul > li > button > a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

div > p{
    margin-top: 20px;
    text-align: center;
}

.pin{
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    background-color: black;
    width: 100%;
    height: 250px;   
}

.rodape{
    width: 100%;
    height: 30px;
    background-color: white;
    text-align: center;
}

.sobre_olibab{
    background-color: white;
    
    width: 300px;
    height: 40px;
    border-radius: 7px;
    text-align: center;
}

.sobre_olibab>a{
    color: black;
    text-decoration: none;
}

.container{
    margin-top: 5%;
    margin-bottom: 5%;
}

form{
    font-size: 25px;
    margin-bottom: 15%;
}

.adquira_pacote{
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 20px;

}

@media (max-width: 2200px){
    .pin{
        display: none;
        background-color: brown;
    }

    aside{
        display: none;
        background-color: aqua;
    }

    #adquira{
        display: none;
    }

    #adquira_aside{
        display: show;
    }
}

@media (min-width: 2200px){
    #principal{
        display: none;
    }
    #adquira_aside{
        display: none;
    }
}



